<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<a href="{% url "home" %}">Back Home</a><br>
	<a href="{% url "youtube_upload" %}">Upload a video</a>
	{% load i18n %}
	{% block content %}
		{% if video_params %}
			    {% for params in video_params %}
				    <section>
				    	{% include "my_youtube/video.html" with video_id=params.video_id width=params.width height=params.height origin=params.origin %}
				    </section>
			    {% endfor %}
		{% endif %}
		{% if embeded_videos %}
			{% for vid in embeded_videos %}
			    <section>
			    	{% include "my_youtube/video.html" with video_id=vid.video_id width='70%' height='350' origin='localhost:8000' %}
			    </section>
			{% endfor %}
		{% endif %}
	{% endblock %}
</body>
</html>
