<!DOCTYPE html>
{% load filetransfers %}
{% load static %}
{% load staticfiles %}


<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/main-jquery.js" %}"></script>
<script src="{% static 'js/jquery-1.11.3.js'%}" ></script>
 <script src="//code.jquery.com/jquery-latest.min.js"></script>
<div id="filediv">
<html>
<head>
	<title>Files</title>
	<script src="{% static "js/jquery.js" %}"></script>
	<script src="{% static "js/main-jquery.js" %}"></script>
	<script src="{% static 'js/jquery-1.11.3.js'%}" ></script>
	<script src="//code.jquery.com/jquery-latest.min.js"></script>
	<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
	<script src="{% static "js/likes.js" %}"></script>


	<link href="{% static 'css/select2.css'%}" rel="stylesheet"></link>
	<link href="{% static 'css/extra.css'%}" rel="stylesheet"></link>
	<link href="{% static 'css/upload_file.css'%}" rel="stylesheet"></link>
</head>
<body>
<h5>

 <button type="button" name="audiodisplay" id="audi"> Audio </button>
 
 <button type="button" name="imagedisplay" id="img"> Image </button> 

 <button type="button" name="videodisplay" id="vid"> Video </button>

  <button type="button" name="documentdisplay" id="doc"> Doc </button>


	<h1>Files</h1><br>
	<a href="{% url 'index' %}">Home</a><br>
	<a href="{% url 'upload'%}"> Upload</a><br>
		{% if user.is_authenticated %}
		Signed in as <a href="{% url 'user-manage' %}">{{ user.username }}</a>
		<br><br><hr>
			{% for file,liked in zipped_list %}
					<iframe id="ytplayer" type="text/html" width="{{ 500 }}" height="{{ 400 }}"
		            src="{{file.file_uploaded.url}}" frameborder="0"/></iframe>
		            <br>
		            <a href="{% url 'file-detail' file.id %}">View this file</a>
					<a href="{% url 'file-detail' file.id %}">Share this file</a>
					<a href="{% url 'download-file' file.id %}">Download</a><br><br>
					<a href="{% url 'likes-list' file.id %}"><b id="like_count{{file.id}}" class="popover">

					{{ file.likes_count }}</b> Users like this file</a>	
					{% if liked %}

						<h3 id="like-success{{file.id}}" class="success-message">You liked this file</h3>
						<button id="unlike{{file.id}}" data-fileid="{{file.id}}" class="unlike-btn" type="button">Unlike</button><br>
						<button id="like{{file.id}}" data-fileid="{{file.id}}" class="like-btn" type="button" hidden>Like</button><br>
						
        				{% if file.user == user %}
		        		<form action="{% url 'delete-file' file.id %}" method="get"> {% csrf_token %}
		        		<input type="submit" value="Delete File"></input>
		        		</form>
		        		{% endif %}

						Uploaded By: {{ file.user.username }} <br><br>

						{% if file.public %}
						Privacy: Public
						{% endif %}

						{% if file.registered_users %}
						Privacy: Registered Users
						{% endif %}

						{% if file.group %}
						Privacy: Group
						{% endif %}

					{% else %}
						<h3 id="like-success{{file.id}}" class="success-message" hidden>You liked this file</h3>
						<button id="unlike{{file.id}}" data-fileid="{{file.id}}" class="unlike-btn" type="button" hidden>Unlike</button><br>
        				<button id="like{{file.id}}" data-fileid="{{file.id}}" class="like-btn" type="button">Like</button>

        				{% if file.user == user %}
		        		<form action="{% url 'delete-file' file.id %}" method="get"> {% csrf_token %}
		        		<input type="submit" value="Delete File"></input>
		        		</form>
		        		{% endif %}

						Uploaded By: {{ file.user.username }} <br><br>

						{% if file.public %}
						Privacy: Public
						{% endif %}

						{% if file.registered_users %}
						Privacy: Registered Users
						{% endif %}

						{% if file.group %}
						Privacy: Group
						{% endif %}
        			{% endif %}


        		<hr>

        	{% endfor %}
        {% else %}
        You're currently not logged in.
        <a href="{% url 'user-login' %}">Click here</a> to sign in.
        <br><br>
        <hr>
	        {% for file in object_list %}
			    <a href="{{  file.file_uploaded.url}}">{{  file.file_uploaded.url}}</a><br><br>
				<a href="{{ file.file_uploaded.url }}"><img src="{{  file.file_uploaded.url}}" width="400" height="400" alt="{{ image.image.name }}"></a><br>
		        <a href="{% url 'file-detail' file.id %}">View this file</a>
				<a href="{% url 'download-file' file.id %}">Download</a><br><br>
				<b id="like_count">{{ file.likes_count }}</b>
				{% if file.likes_count = 1 %} 
					User likes
				{% else %} 
					Users like
				{% endif %}
				this file
				<br>
				Uploaded By: {{ file.user.username }} <br><br>

				{% if file.public %}
				Privacy: Public
				{% endif %}

				{% if file.registered_users %}
				Privacy: Registered Users
				{% endif %}

				{% if file.group %}
				Privacy: Group
				{% endif %}

        <hr>
			{% endfor %}

		{% endif %}

	<br>

	{% if messages %}
		<ul class="messages">
		    {% for message in messages %}
		    {% if message.tags %} <class="{{ message.tags }}"{% endif %}>
		    <script type="">alert("{{message}}")</script>
		    {% endfor %}
		</ul>
	{% endif %}
</body>
</html>

<br><br>


<script type="text/javascript">

$(document).ready( function() {
    $('#audi').on('click',function(){   
    
$.ajax({
    url:"/main/file/list",
    type: "GET",
    data: {'category': "audio"},
    success:function(newData){
    $('#filediv').empty();
    $('#filediv').append(newData);

},
    complete:function(){},
    error:function (xhr, textStatus, thrownError){
        alert("error doing something");
    }

         });

    });

    $('#vid').on('click',function(){   
    
$.ajax({
    url:"/main/file/list",
    type: "GET",
    data: {'category': "videos"},
    success:function(newData){
    $('#filediv').empty();
    $('#filediv').append(newData);

},
    complete:function(){},
    error:function (xhr, textStatus, thrownError){
        alert("error doing something");
    }

         });

    });

    $('#img').on('click',function(){   
    
$.ajax({
    url:"/main/file/list",
    type: "GET",
    data: {'category': "images"},
    success:function(newData){
    $('#filediv').empty();
    $('#filediv').append(newData);

},
    complete:function(){},
    error:function (xhr, textStatus, thrownError){
        alert("error doing something");
    }

         });

    });

    $('#doc').on('click',function(){   
    
$.ajax({
    url:"/main/file/list",
    type: "GET",
    data: {'category': "documents"},
    success:function(newData){
    $('#filediv').empty();
    $('#filediv').append(newData);

},
    complete:function(){},
    error:function (xhr, textStatus, thrownError){
        alert("error doing something");
    }

         });

    }); 

});
</script>


</div>
