<!DOCTYPE html>
{% load filetransfers %}
<html>
<head>
	<title>Files</title>
</head>
<body>

	<h1>Files</h1><br>
	{% for file in object_list %}
		<a href="{{ file.file_uploaded.url }}"><img src="{{  file.file_uploaded.url}}" width="400" height="400" alt="{{ image.image.name }}"></a><br>
		<a href="{% url "file-detail" file.id %}">Share this file</a>
		<a href="{% url 'download-file' file.id %}">Download</a><br><br>
	{% endfor %}
	<br>
	<a href="{% url 'upload'%}"> Upload</a>
	{% if messages %}
		<ul class="messages">
		    {% for message in messages %}
		    {% if message.tags %} <class="{{ message.tags }}"{% endif %}>
		    <script type="">alert("{{message}}")</script>
		    {% endfor %}
		</ul>
	{% endif %}
</body>
</html>