<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div>
		{% for document_entry in documents_feed.entry %}
		  	# Display the title of the document on the command line.
			<h2> {{ document_entry.title.text }} </h2>
		{% endfor %}
	</div>
	{% if messages %}
        <div class="messages">
            {% for message in messages %}
            <h2{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color: red">{{ message }}</h2>
            {% endfor %}
        </div>
    {% endif %}
</body>
</html>				

				