<!DOCTYPE html>
<html>
    <head>
        <title>Your Notifications List</title>
    </head>

    <body>

		<h2>Your Notifications List</h2>
        <p>New Notifications:</p>
		<ul>

        {% for notification in unread %}

        <a href= "{% url 'comment-list' notification.file_shared.id %}"><li>"{{ notification.comment.user }}" commented on your photo</li></a>

        <br></br>

        {% endfor %}

        {% for notification in share_notifications_unread %}

        <li>{{ notification.file_shared.user.username }} {{ notification.message }}
        <a href= "{% url 'file-detail' notification.file_shared.id %}"> click here to view it</a></li>

        <br></br>

        {% endfor %}
        </ul>

         <p>Old Notification:</p>
         <ul>
        {% for notification in read %}

       

        <a href= "{% url 'comment-list' notification.file_shared.id %}"><li>"{{ notification.comment.user }}" commented on your photo</li></a>

        <br></br>

        {% endfor %}

        {% for notification in share_notifications_read %}

        <li>{{ notification.file_shared.user.username }} {{ notification.message }}
        <a href= "{% url 'file-detail' notification.file_shared.id %}"> click here to view it</a></li>

        <br></br>

        {% endfor %}


        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
            </span>
        </div>

        <br>

        <a href="{% url 'home' %}"> Go back</a>

    </body>
</html>