<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<html lang="en">
  <head>
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/main-jquery.js" %}"></script>
    <script src="{% static 'js/jquery-1.11.3.js'%}" ></script>
    <script src="//code.jquery.com/jquery-latest.min.js"></script>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700,600" rel="stylesheet" type="text/css">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/colorbox.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.min.css' %}" rel="stylesheet">

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/jquery.colorbox.min.js' %}"></script>
    <script src="{% static 'js/jquery.isotope.min.js' %}"></script>
    <script src="{% static 'js/script.min.js' %}"></script>
    <!---->


    <script type="text/javascript">var switchTo5x=true;</script>
    <!--<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>-->
    <script type="text/javascript">stLight.options({publisher: "19b54de1-bc03-466a-aca3-919232e87a2e", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
    <script src="{% static "js/likes.js" %}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- begin:navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "index" %}"><i class="fa fa-share-alt"> <span>Karno</span></i></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url "file-list" %}">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Share <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url "upload" %}"><i class="fa fa-file"></i> File</a></li>
                <li><a href="{% url "youtubeurl-add" %}"><i class="fa fa-youtube"></i> Video</a></li>
              </ul>
            </li>
            <li class="fsearch hidden-xs"><a class="btn-search"></a></li>
            {% if not user.is_authenticated %}
                <li><a href="{% url "user-login" %}"><i class="fa fa-lock"></i> Sign-in</a></li>
                <li><a href="{% url "user-new" %}"><i class="fa fa-edit"></i> Sign-up</a></li>
            {% else %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <strong>{{ user.username }}</strong> <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url "profile" user.pk%}"><i class="fa fa-user"></i> Profile</a></li>
                        <li><a href="{% url 'notification-list' user.id %}"><i class="fa fa-flag"></i> Notifications</a></li>
                        <li><a href=""><i class="fa fa-inbox"></i> Inbox</a></li>
                        <li class="divider"></li>
                        <li><a href="account_setting.html"><i class="fa fa-cog fa-spin"></i> Account Settings</a></li>
                        <li><a href="{% url "user-logout" %}"><i class="fa fa-power-off"></i> Sign Out</a></li>
                    </ul>
                </li>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
        <ul class="nav navbar-nav navbar-right nav-search visible-xs">
          <li class="fsearch"><a class="btn-search"></a></li>
        </ul>
      </div><!-- /.container-fluid -->
    </nav>
    <!-- end:navbar -->

    <!-- begin:search -->
    <div id="searchbox">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!-- <form role="form"> -->
              <div class="form-group">
                <label for="inputSearch" class="sr-only">Search</label>
                <input type="text" class="form-control input-lg" placeholder="Enter your keyword">
              </div>
            <!-- </form> -->
          </div>
        </div>
      </div>
    </div>
    <!-- end:search -->

    <!-- begin:content -->
    <div id="content">
      <div class="container">
        <div class="row container-gallery">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="post-container">
              <div class="post-desc">
                <h2>All Tags</h2>

              </div>
              <div class="sidebar-menu">
                <ul class="nav nav-pills nav-stacked">
                {% for tag in tags %}
                  <li><a href="{% url "tag-detail" tag.pk %}"><i class="fa fa-tags"></i> {{ tag }}</a></li>
                {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <!-- break -->
            {% for file  in files %}
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="post-container">
                      <div class="post-option">
                        <ul class="list-options">
                          <li><a href="{% url "file-detail" file.id %}"><i class="fa fa-plus"></i> <span>Detail</span></a></li>
                          <li><a href="{% url "download-file" file.id %}"><i class="fa fa-cloud-download"></i> <span>Download</span></a></li>
                        </ul>
                      </div>
                      <div class="post-image">
                      {% if file.type = "Image" %}
                        <a href="img/fransisca-post-image01-big.jpg" class="img-group-gallery" title="Lorem ipsum dolor sit amet"><img src="{{ file.file_uploaded.url }}" class="img-responsive" alt="fransisca gallery"></a>
                      {% else %}
                        <iframe id="ytplayer" type="text/html" width="{{ 230 }}" height="{{ 300 }}"
                        src="{{file.file_uploaded.url}}" frameborder="0"/></iframe>
                      {% endif %}
                      </div>
                      <div class="post-meta">
                        <ul class="list-meta list-inline">
<!--                           <li><i class="fa fa-eye"></i> 117</li>
                          <li><i class="fa fa-comment"></i> 7</li>
                          <li><i class="fa fa-cloud-download"></i> 8</li> -->
                          <li><a href="{% url "likes-list" file.id %}"><i class="fa fa-heart"></a></i><span id="like_count{{file.id}}"> <strong>{{ file.likes_count }}</strong></span></li>
                        </ul>
                      </div>

                    </div>
                </div>
            {% endfor %}

          <!-- begin:pagination -->
          <div class="col-md-12">

          </div>
          <!-- end:pagination -->
        </div>
      </div>
    </div>
    <!-- end:content -->

    <!-- begin:footer -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <p>Copyright &copy; 2014 All Right Reserved.</p>
            <ul class="list-inline">
                <li><a href="#">Terms Of Service</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <ul class="list-social">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- end:footer -->
  </body>
</html>
    <script type="text/javascript">
        $(document).ready( function() {
            $('#audi').on('click',function(){   
            
        $.ajax({
            url:"/main/file/list",
            type: "GET",
            data: {'category': "audio"},
            success:function(newData){
            $('#filediv').empty();
            $('#filediv').append(newData);

        },
            complete:function(){},
            error:function (xhr, textStatus, thrownError){
                alert("error doing something");
            }

                 });

            });

            $('#vid').on('click',function(){   
            
        $.ajax({
            url:"/main/file/list",
            type: "GET",
            data: {'category': "videos"},
            success:function(newData){
            $('#filediv').empty();
            $('#filediv').append(newData);

        },
            complete:function(){},
            error:function (xhr, textStatus, thrownError){
                alert("error doing something");
            }

                 });

            });

            $('#img').on('click',function(){   
            
        $.ajax({
            url:"/main/file/list",
            type: "GET",
            data: {'category': "images"},
            success:function(newData){
            $('#filediv').empty();
            $('#filediv').append(newData);

        },
            complete:function(){},
            error:function (xhr, textStatus, thrownError){
                alert("error doing something");
            }

                 });

            });

            $('#doc').on('click',function(){   
            
        $.ajax({
            url:"/main/file/list",
            type: "GET",
            data: {'category': "documents"},
            success:function(newData){
            $('#filediv').empty();
            $('#filediv').append(newData);

        },
            complete:function(){},
            error:function (xhr, textStatus, thrownError){
                alert("error doing something");
            }

                 });

            }); 

        });
    </script>
<!-- <div id="filediv">
<html>
<head>
	<title>Files</title>

	<script src="{% static "js/jquery.js" %}"></script>
	<script src="{% static "js/main-jquery.js" %}"></script>
	<script src="{% static 'js/jquery-1.11.3.js'%}" ></script>
	<script src="//code.jquery.com/jquery-latest.min.js"></script>
	<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
	<script src="{% static "js/likes.js" %}"></script>


	<link href="{% static 'css/select2.css'%}" rel="stylesheet"></link>
	<link href="{% static 'css/extra.css'%}" rel="stylesheet"></link>
	<link href="{% static 'css/upload_file.css'%}" rel="stylesheet"></link>
</head>
<body>
<h5>

 <button type="button" name="audiodisplay" id="audi"> Audio </button>
 
 <button type="button" name="imagedisplay" id="img"> Image </button> 

 <button type="button" name="videodisplay" id="vid"> Video </button>

  <button type="button" name="documentdisplay" id="doc"> Doc </button>


	<h1>Files</h1><br>
	<a href="{% url "index" %}">Home</a><br>
		{% if user.is_authenticated %}
			{% for file,liked in zipped_list %}
					<iframe id="ytplayer" type="text/html" width="{{ 500 }}" height="{{ 400 }}"
		            src="{{file.file_uploaded.url}}" frameborder="0"/></iframe>
		            <br><br>
		            <a href="{% url 'file-detail' file.id %}">View this file</a>
					<a href="{% url 'file-detail' file.id %}">Share this file</a>
					<a href="{% url 'download-file' file.id %}">Download</a><br><br>
					<a href="{% url 'likes-list' file.id %}"><b id="like_count{{file.id}}" class="popover">
				Uploaded By: {{ file.user.username }} <br><br>

				{% if file.public %}
				Privacy: Public
				{% endif %}

				{% if file.registered_users %}
				Privacy: Registered Users
				{% endif %}

				{% if file.group %}
				Privacy: Group
				{% endif %}

				<br><br>

					{{ file.likes_count }}</b> Users like this file</a>	
					{% if liked %}
						<h3 id="like-success{{file.id}}" class="success-message">You liked this file</h3>
						<button id="unlike{{file.id}}" data-fileid="{{file.id}}" class="unlike-btn" type="button">Unlike</button><br>
						<button id="like{{file.id}}" data-fileid="{{file.id}}" class="like-btn" type="button" hidden>Like</button><br>
						Uploaded By: {{ file.user.username }} <br><br>

						{% if file.public %}
						Privacy: Public
						{% endif %}

						{% if file.registered_users %}
						Privacy: Registered Users
						{% endif %}

						{% if file.group %}
						Privacy: Group
						{% endif %}
					{% else %}
						<h3 id="like-success{{file.id}}" class="success-message" hidden>You liked this file</h3>
						<button id="unlike{{file.id}}" data-fileid="{{file.id}}" class="unlike-btn" type="button" hidden>Unlike</button><br>
        				<button id="like{{file.id}}" data-fileid="{{file.id}}" class="like-btn" type="button">Like</button><br>
						Uploaded By: {{ file.user.username }} <br><br>

						{% if file.public %}
						Privacy: Public
						{% endif %}

						{% if file.registered_users %}
						Privacy: Registered Users
						{% endif %}

						{% if file.group %}
						Privacy: Group
						{% endif %}
        			{% endif %}

        		{% if file.user == user %}
        		<form action="{% url 'delete-file' file.id %}" method="get"> {% csrf_token %}
        		<input type="submit" value="Delete File"></input>
        		</form>
        		{% endif %}
        		<hr>

        	{% endfor %}
        {% else %}
	        {% for file in object_list %}
			    <a href="{{  file.file_uploaded.url}}">{{  file.file_uploaded.url}}</a><br><br>
				<a href="{{ file.file_uploaded.url }}"><img src="{{  file.file_uploaded.url}}" width="400" height="400" alt="{{ image.image.name }}"></a><br>
				<a href="{% url 'file-detail' file.id %}">Share this file</a>
				<a href="{% url 'download-file' file.id %}">Download</a><br><br>
				<b id="like_count">{{ file.likes_count }}</b>
				{% if file.likes_count = 1 %} 
					User likes
				{% else %} 
					Users like
				{% endif %}
				this file

        <hr>
			{% endfor %}

		{% endif %}

	<br>
	<a href="{% url 'upload'%}"> Upload</a>
	{% if messages %}
		<ul class="messages">
		    {% for message in messages %}
		    {% if message.tags %} <class="{{ message.tags }}"{% endif %}>
		    <script type="">alert("{{message}}")</script>
		    {% endfor %}
		</ul>
	{% endif %}
	<br>
	<a href="{% url 'home' %}"> return to home page </a>
</body>
</html>

<br><br>


<script type="text/javascript">

$(document).ready( function() {
    $('#audi').on('click',function(){   
    
$.ajax({
    url:"/main/file/list",
    type: "GET",
    data: {'category': "audio"},
    success:function(newData){
    $('#filediv').empty();
    $('#filediv').append(newData);

},
    complete:function(){},
    error:function (xhr, textStatus, thrownError){
        alert("error doing something");
    }

         });

    });

    $('#vid').on('click',function(){   
    
$.ajax({
    url:"/main/file/list",
    type: "GET",
    data: {'category': "videos"},
    success:function(newData){
    $('#filediv').empty();
    $('#filediv').append(newData);

},
    complete:function(){},
    error:function (xhr, textStatus, thrownError){
        alert("error doing something");
    }

         });

    });

    $('#img').on('click',function(){   
    
$.ajax({
    url:"/main/file/list",
    type: "GET",
    data: {'category': "images"},
    success:function(newData){
    $('#filediv').empty();
    $('#filediv').append(newData);

},
    complete:function(){},
    error:function (xhr, textStatus, thrownError){
        alert("error doing something");
    }

         });

    });

    $('#doc').on('click',function(){   
    
$.ajax({
    url:"/main/file/list",
    type: "GET",
    data: {'category': "documents"},
    success:function(newData){
    $('#filediv').empty();
    $('#filediv').append(newData);

},
    complete:function(){},
    error:function (xhr, textStatus, thrownError){
        alert("error doing something");
    }

         });

    }); 

});
</script>


</div>
 -->