<!DOCTYPE html>

{% load static %}

<script src="{% static "js/jquery.js" %}"></script>

<script src="{% static "js/main-jquery.js" %}"></script>

<html>
<head>
	<title>Share File</title>
</head>
<body>
	<h1>Share A File</h1>
	        <form action="" method="post" enctype="multipart/form-data" id="file-form">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.file_uploaded.label_tag }} {{ form.file_uploaded.help_text }}</p>
            <p>
                {{ form.file_uploaded.errors }}
                <input id="id_file_uploaded" name="file_uploaded" type="file">
            </p>
            <p><input type="submit" value="Upload" /></p>
        </form>


<script type="text/javascript">
$(document).ready( function() {

 $("#post-form").show();


    $('input[type="file"]').change(function(){
        var filename = $('input[type=file]').val().replace(/C:\\fakepath\\/i, '')
        var extension = $('input[type=file]').val().split('.').pop();

         ///if(extension.equals('jpeg')) {
            //alert(extension)
          //  $("body").html("A is larger than B");}

    }) 

}); 
</script>

</body>

</html>